<section class="max-w-3xl mx-auto">
  <h1 class="text-3xl font-semibold">Heroes</h1>

  <div class="flex justify-center items-center">
    <mat-form-field appearance="outline">
      <mat-label>Buscar heroes</mat-label>
      <input
        matInput
        type="search"
        placeholder="Buscar"
        [value]="query()"
        (input)="onSearch($event)"
        data-testid="hero-search"
      />
    </mat-form-field>
    <a matButton="filled" class="block" routerLink="/heroes/new" data-testid="add-hero"> Añadir </a>
  </div>

  @if (loading()) {
    <p data-testid="loading-state">Cargando heroes...</p>
  } @else if (error()) {
    <p data-testid="error-state">{{ error() }}</p>
  } @else if (heores().length === 0) {
    <p data-testid="empty-state">No se encontraron heroes.</p>
  } @else {
    <h2 class="text-lg font-semibold my-4" data-testid="heroes-total">{{ totalHeroes() }} heroes encontrados.</h2>

    <div class="grid grid-cols-2 gap-4" data-testid="heroes-grid">
      @for (hero of pagedHeroes(); track hero.id) {
      <app-hero-card
        [hero]="hero"
        (editRequested)="onEditRequested($event)"
        (deleteRequested)="onDeleteRequested($event)"
        data-testid="hero-card"
      ></app-hero-card>
    }
    </div>
    <mat-paginator
        [length]="totalHeroes()"
        [pageIndex]="page()"
        [pageSize]="pageSize()"
        [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)"
        aria-label="Seleccionar página de héroes"
        data-testid="hero-paginator"
      ></mat-paginator>
  }
  @if (deleteError()) {
    <p role="alert" data-testid="delete-error">
      {{ deleteError() }}
    </p>
  }
</section>
